
.titolo{
    border: 1px solid red; 
    background-color: red; 
    width: 100%; 
    height: 150px; 
    text-align: center;
    position: static; /*non cambia nulla rispetto al posizionamento normale*/ 
}

.contenitore-static{
    position: static;   /*posizione dichiarata static per accogliere all'interno altri elementi che possono essere posizionati*/
    border: 1px solid green;
    /*assegno una dimensione per evitarene una troppo piccola che non mi consenta di muovere gli elementi al suo interno*/
    width: 100%;
    height: 50%;
}

.contenitore-relative{
    position: relative; /*la posizione relative indica un posizionamento relativo al primo oggetto static che contiene questo nel flusso del documento, quindi .contenitore*/
    border: 1px solid blue;
    width: 50%; 
    height: 50px;
    text-align: center;
    /*attributi per il posizionamento preciso dell'elemento rispetto al suo genitore*/
    top: 30px;
    left: 50%;
    bottom: 5px;
}

/*l'elemento con questa classe viene estratto dal flusso del documento*/
.contenitore-absolute
{
    position: absolute;
    border: 1px solid orange;
    width: 150px; /*assegno una larghezza prefissata*/
    height: 150px; /*assegno un'altezza prefissata*/
    /*determino il posizionamento al centro della pagina con questa combinazione*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /*imposto i margini su auto*/
    /*tali righe di codice possono essere utilizzate per centrare in orizzontale
    e verticale un elemento in posizionamento absolute o relative rispetto al suo
    contenitore*/
}

/*con fixed estraggo l'oggetto dal flusso della pagina e lo fisso nella posizione indicata 
indipendentemente dal movimento di scroll orizzontale o verticale effettuato dall'utente*/
.contenitore-fixed{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: coral;
}

/*scopo di questo elemento è solo quello di occupare spazio in modo da permettere lo scroll della pagina*/
.riempimento
{
    position: static;
    width: 100%;
    height: 1920px;
}

